@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header Font Size & Weight */
.h-bold-110 {
  font-size: 110px;
  font-weight: bolder;
}
.h-semiBold-110 {
  font-size: 110px;
  font-weight: bold;
}
.h-medium-110 {
  font-size: 110px;
  font-weight: normal;
}
.h-regular-110 {
  font-size: 110px;
  font-weight: lighter;
}

.h-bold-90 {
  font-size: 90px;
  font-weight: bolder;
}
.h-semiBold-90 {
  font-size: 90px;
  font-weight: bold;
}
.h-medium-90 {
  font-size: 90px;
  font-weight: normal;
}
.h-regular-90 {
  font-size: 90px;
  font-weight: lighter;
}

.h-bold-64 {
  font-size: 64px;
  font-weight: bolder;
}
.h-semiBold-64 {
  font-size: 64px;
  font-weight: bold;
}
.h-medium-64 {
  font-size: 64px;
  font-weight: normal;
}
.h-regular-64 {
  font-size: 64px;
  font-weight: lighter;
}

.h-bold-54 {
  font-size: 54px;
  font-weight: bolder;
}
.h-semiBold-54 {
  font-size: 54px;
  font-weight: bold;
}
.h-medium-54 {
  font-size: 54px;
  font-weight: normal;
}
.h-regular-54 {
  font-size: 54px;
  font-weight: lighter;
}

.h-bold-48 {
  font-size: 48px;
  font-weight: bolder;
}
.h-semiBold-48 {
  font-size: 48px;
  font-weight: bold;
}
.h-medium-48 {
  font-size: 48px;
  font-weight: normal;
}
.h-regular-48 {
  font-size: 48px;
  font-weight: lighter;
}

.h-bold-36 {
  font-size: 36px;
  font-weight: bolder;
}
.h-semiBold-36 {
  font-size: 36px;
  font-weight: bold;
}
.h-medium-36 {
  font-size: 36px;
  font-weight: normal;
}
.h-regular-36 {
  font-size: 36px;
  font-weight: lighter;
}

.h-bold-32 {
  font-size: 32px;
  font-weight: bolder;
}
.h-semiBold-32 {
  font-size: 32px;
  font-weight: bold;
}
.h-medium-32 {
  font-size: 32px;
  font-weight: normal;
}
.h-regular-32 {
  font-size: 32px;
  font-weight: lighter;
}

.h-bold-24 {
  font-size: 24px;
  font-weight: bolder;
}
.h-semiBold-24 {
  font-size: 24px;
  font-weight: bold;
}
.h-medium-24 {
  font-size: 24px;
  font-weight: normal;
}
.h-regular-24 {
  font-size: 24px;
  font-weight: lighter;
}

.h-bold-20 {
  font-size: 20px;
  font-weight: bolder;
}
.h-semiBold-20 {
  font-size: 20px;
  font-weight: bold;
}
.h-medium-20 {
  font-size: 20px;
  font-weight: normal;
}
.h-regular-20 {
  font-size: 20px;
  font-weight: lighter;
}

/* Title Font Size & Weight */

.t-semiBold-24 {
  font-size: 24px;
  font-weight: bold;
}
.t-medium-24 {
  font-size: 24px;
  font-weight: normal;
}
.t-regular-24 {
  font-size: 24px;
  font-weight: lighter;
}

.t-semiBold-20 {
  font-size: 20px;
  font-weight: bold;
}
.t-medium-20 {
  font-size: 20px;
  font-weight: normal;
}
.t-regular-20 {
  font-size: 20px;
  font-weight: lighter;
}

.t-semiBold-16 {
  font-size: 16px;
  font-weight: bold;
}
.t-medium-16 {
  font-size: 16px;
  font-weight: normal;
}
.t-regular-16 {
  font-size: 16px;
  font-weight: lighter;
}

.t-semiBold-14 {
  font-size: 14px;
  font-weight: bold;
}
.t-medium-14 {
  font-size: 14px;
  font-weight: normal;
}
.t-regular-14 {
  font-size: 14px;
  font-weight: lighter;
}

.t-semiBold-12 {
  font-size: 12px;
  font-weight: bold;
}
.t-medium-12 {
  font-size: 12px;
  font-weight: normal;
}
.t-regular-12 {
  font-size: 12px;
  font-weight: lighter;
}
